@font-face {
  font-family: Avenir-Next;
  src: url("../fonts/nunito.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Avenir-Next-Condensed;
  src: url("../fonts/Avenir-Next-Condensed.ttf") format('truetype');
}
